GOOGLE_CLIENT_ID = TU_GOOGLE_ID
PORT = 8080
DATABASE_URL = postgres://usuario:contraseña@ip:puerto/compospetbd?schema=public
JWT_SECRET= TU_SECRETO
GOOGLE_REFRESH_TOKEN = TU_GOOGLE_TOKEN
GOOGLE_CLIENT_SECRET = TU_GOOGLE_SECRET
NODE_ENV=development
JWT_ACCESS_SECRET= TU_ACCESS_SECRET
JWT_REFRESH_SECRET= TU_REFRESH_SECRET
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
BCRYPT_SALT_ROUNDS=12
CORS_ORIGIN=http://localhost:3000
GOOGLE_SHEET_ROUTE_MESSAGES_ID= TU_SPREADSHEETS_ID
